<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <script src="/js/lib/jquery-1.10.2.js"></script>
    <script src="/js/lib/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

    <script src="js/navigation.js"></script>
    <script src="js/main.js"></script>
    
    <%- scripts %>

    <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <%- stylesheets %>

    <title><%- title %></title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand"><%- shortTitle %></span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navigation" class="navbar-collapse navbar-ex1-collapse collapse" style="height: 1px;">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/configuration" class="configuration">Configuration</a></li>
            <li><a href="/clients" class="clients">Clients</a></li>
            <li><a href="/servers" class="servers">Servers</a></li>
            <li><a href="/profiles" class="site-profiles">Site Profiles</a></li>
            <li><a href="/database" class="database">Database Pull</a></li>
            <!--            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="divider-vertical"></li>
        </ul>
    </div>
</nav>

<div class="container main-container">
<%- body %>
</div>

</body>
</html>